h1{
	font-family: 'Bebas Neue',sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: white;
	padding: 20px;
	text-align: center;
	background: linear-gradient(to right, lightgray 0%, teal 100%);
}

h2{
	font-family: 'Bebas Neue',sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: white;
	padding: 10px;
	text-align: center;
	background: linear-gradient(to right, pink 0%, red 100%);
	margin: 50px;
}

h3{
	font-family: 'Barlow', sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h4{
	font-family: 'Barlow', sans-serif;
	font-size: 120%;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

h5{
	text-align: center;
	padding: 20px;
	font-family: 'Bebas Neue',sans-serif;
	font-size: 30px;
}

main{
	padding-bottom: 50px;
}

.review h4{
	font-style: italic;
}


footer p{
	margin: auto;
	background-color: teal;
	color: white;
	border: 1px solid teal;
	padding: 10px 50px 10px 50px;
}

p{
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	display: flex;
	flex-wrap: wrap;
}

.home-body{
	margin-top: 20px;
}



a.skip{
	background: white;
	padding: 14px 14px;
	-webkit-transition: top 1s ease-out;
	transition: left 1s ease-out;
	z-index: 1;
	position: absolute;
	font-family: 'Barlow' sans-serif;
	left: -500px;

  }

  a.skip:focus{
    top: 20px;
    left: 0;
  }

header {
	background-color: #333;
}

ul{

	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav li {

	margin: 45px;
	padding: 50px;

}

li a{
	display: flex;
	color: white;

	padding: 10px 10px;
	text-decoration: none;
	font-family: 'Barlow', sans-serif;

	font-weight: 400;

}

li a:hover {
	background-color: gray;
}

li.active{
	background-color: teal;
	font-weight: 900;
}

li.active a{
	text-decoration: underline;
	text-decoration-thickness: 20%;
}

.joey, .gary{
	margin-top: 30px;
}

.gary{
	margin-bottom: 50px;
}

.team img{
	opacity: 1;
	border: 5px solid teal;
}

.team{
	margin-top: 30px;
	margin-bottom: 30px;
}

.team p{
	justify-content: center;
	color: black;
}

form {
	font-size: 16px;
	margin: 50px;
	font-family: 'Barlow', sans-serif;
	color:white;
	display: flex;
	padding: 30px;
	background: linear-gradient(90deg, rgb(176, 117, 0), rgb(255, 183, 0));
  }

.email, .name, .note, .phone{
	text-align: center;
	margin-bottom: 30px;
}
fieldset{
	display: block;
	width: 50%;
	margin: auto;
	min-width: 200px;
	
}

form i{
	margin-right: 10px;
}
input, textarea {
	display: block;
	width: 100%;
	font-family:inherit;
  	font-size: inherit;
	
  }

input[type=text], input[type=email], input[type=tel], textarea{
	padding: 10px;
	margin: 10px 0;
	border-radius:10px;
	border: solid white;
} 

#note{
	height: 30vh;
}

legend{
	text-align: center;
	font-family:inherit;
	font-size: 150%;
	font-weight: bold;
}


button[type=submit]{
	padding:10px;
	border:none;
	background-color:teal;
	color:#fff;
	font-weight: 600;
	border-radius:5px;
	width:100%;
	font-family:inherit;
  	font-size: inherit;
	display: block;
}

*:focus{
	border: 1px solid teal;
  }


  .home-image{
	  background-image: url(../images/home2.jpeg);
	  padding-top: 200px;
	  padding-bottom: 400px;
	  /* width: 80vw; */
	  background-attachment: fixed;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-color: #707070;
  }

.community-gallery{
    margin-left: 50px;
    margin-right: 50px;
	font-family: 'Barlow', sans-serif;
	  }

.community-gallery img{
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    opacity: 0.5;
}



.community-gallery img:hover{
	opacity: 1;
	border: 3px dashed teal;
	border-radius: 5px;
}

data-title{
	font-family: 'Bebas Neue',sans-serif;
}


section{
	display: block;
}

.food caption{
	font-family: inherit;
	padding: 50px;
}


.drinks, .food{
	margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;

}

.drinks img, .food img{
	object-fit: cover;
    height: 100%;
    width: 100%;
	max-height: 400px;
}

.cookie h5{
	margin-bottom: 30px;
}


.flip-card {
	background-color: transparent;
	width: 300px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
  }

  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }

  .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
} 

  
  .flip-card-back {
	background-color: teal;
	transform: rotateY(180deg);
  }
  .flip-card-back p{
	color: white;
  }


@media screen and (min-width: 810px){

	h5{
		font-size: 25px;
	}
	ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: start;
		align-items: center;

	}
	
	
	li a{
		display: flex;
		padding: 20px 14px;
	}

.community-gallery{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.community-gallery img{
	width: 200px;
	height: 200px;
	margin: 20px;
}


.drinks, .food{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    justify-items: center;
}



.drinks img, .food img{
	border: 2px dotted black;
	/* grid-column: 3 / span 2; */
	overflow: hidden;
	width: 300px;
}
}


@media screen and (min-width: 1081px){

	h5{
		font-size: 25px;
	}
	ul{
		display: flex;
		flex-direction: row;

	}
	
	
	li a{
		padding: 20px 20px;
	}



	.drinks, .food{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 30px;
		column-gap: 50px;
		justify-items: center;
	}

.drink-images img, .food-images img{
		border: 2px dashed tomato;
	}




.community-gallery{

		font-family: 'Barlow', sans-serif;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
.community-gallery img{
		width: 300px;
		height: 300px;
		margin: 10px;
	}
}


#logo{
	animation: mymove 5s 1;
	width: 40vw;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-mask-image: radial-gradient(circle at 80%, black 50%, rgba(0, 0, 0, 0.2) 10%);
	mask-image: radial-gradient(circle at 80%, black 50%, rgba(0, 0, 0, 0.2) 10%);
  }
  @keyframes mymove{
	from {width: 0vw;}
	to {width: 40vw;}
	from {opacity: 0;}
	to {opacity: 1}
  }

@media (prefers-reduced-motion: reduce) {
#logo{
	animation: none;
	}
.home-image{
	background-attachment: initial;
	}
.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner{
        transform: none;
		transition: transform none;
}
}